{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/icon_quilombo_urbano.ico" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'reset.css' %}">
  <link rel="stylesheet" href="{% static 'styleIndex.css' %}">
  <title>Quilombo Urbano</title>
</head>

<body>
  {% if messages %}
        {% for message in messages %}
        <script>alert('{{ message }}')</script>
        {% endfor %}

    {% endif %}
  <header>
    <div id="header-esquerdo">
      <img src="{% static 'img/new_simbol.png' %}" alt="Logo Quilombo Urbano">

      <a href="#sobre-nos" target="_self" lang="pt-br">Sobre nós</a>
      <a href="#oficinas" target="_self" lang="pt-br">Oficinas</a>
      <a href="#localizacao" target="_self" lang="pt-br">Localização</a>
      <a href="{% url 'pages:gallery' %}" target="_self" lang="pt-br">Galeria</a>

      <div id="container">
        <div id="hamburger">
          <div class="linha"></div>
          <div class="linha"></div>
          <div class="linha"></div>
        </div>
      </div>
    </div>

    <div id="header-direito">
        <a href="{% url 'pages:login' %}" target="_self" lang="pt-br" id="login">Login</a>
        <input type="button" value="Registrar Aluno" onclick="location.href='{% url 'pages:student-sign' %}'">
        <input type="button" value="Registrar Professor" onclick="location.href='{% url 'pages:professor-sign' %}'">
        <img src="{% static 'img/new_simbolo3.png' %}" alt="Ícone de usuário">
      </div>
      

  </header>

  <aside id="sidebar">
    <nav>
      <ul>
        <div>
          <li>Sobre nós</li>
        </div>
        <div>
          <li>Oficinas</li>
        </div>
        <div>
          <li>Localização</li>
        </div>
        <div>
          <li>Galeria</li>
        </div>
      </ul>
    </nav>
  </aside>

  <main>
    <section id="carrossel" class="fade-in-up">
      <!--Background vai ser um carrossel-->
      <div>
        <img src="{% static 'img/simbolo3.png' %}" alt="Centro Cultural Quilombo Urbano">
      </div>
    </section>

    <section id="sobre-nos" class="fade-in-up">
      <div id="titulo">
        <div class="linha-titulo"></div>
        <h2>Sobre Nós</h2>
        <div class="linha-titulo"></div>
      </div>

      <div id="texto">
        <p>O Centro Cultural Quilombo Urbano é um projeto desenvolvido pelo Movimento Negro São João del Rei em parceria com o Grupo de Pesquisa, Ensino e Extensão na área de história, cultura africana e afro-brasileira - Tugu-ná. Seu principal objetivo é revitalizar e transformar o Centro Comunitário do Bairro São Dimas, localizado nas dependências da Universidade Federal de São João del Rei, em um espaço dedicado à valorização da cultura afro-brasileira e ao fortalecimento da comunidade. </p>
        <div id="paragrafo2" class="paragrafo-com-imagem">
          <div id="imagem1" class="imagem-circulo"></div>
          <p>O público-alvo do projeto é diversificado. Diretamente, o projeto visa atender aos moradores da comunidade do bairro São Dimas, que resguarda os valores de um sistema quilombola, como a autogestão, a resistência cultural e a solidariedade. Indiretamente, o projeto também busca envolver os moradores da cidade de São João del Rei, universitários residentes na região, artistas locais e pesquisadores interessados na história e cultura africana e afro-brasileira.</p>
        </div>
        <div id="paragrafo3" class="paragrafo-com-imagem">
          <p>O Movimento Negro de São João del Rei, impulsionado pela filosofia do "ubuntu" e pela filosofia kindezi do povo bantu, que enfatiza a importância da comunidade para o desenvolvimento de cada indivíduo, busca promover a continuidade da existência e resistência do povo africano e afro-brasileiro. O projeto celebra os pactos de solidariedade e o legado cultural que remontam desde a diáspora até os dias atuais, com o intuito de criar um espaço de encontro e estudo para toda a comunidade.</p>
          <div id="imagem2" class="imagem-circulo"></div>
        </div>
      </div>

    </section>

    <section id="oficinas" class="fade-in-up">
        <div id="titulo">
          <div class="linha-titulo"></div>
          <h2>Oficinas</h2>
          <div class="linha-titulo"></div>
        </div>
      
        <div id="texto">
          <p>em nosso projeto voce pode fazer parte de diversos projetos, que denominamos oficinas, onde temos oficinas que envolvem artes, desde de pintura e desenho ate plasticas, esporte de diversos tipos, e introduzir e ensinar tecnologia.</p>
      
          <div id="cards">
            <div class="card">
              <div class="imagem-oficina" id="card1"></div>
              <div class="nome-oficina">
                <p>Arte</p>
              </div>
            </div>
            <div class="card">
              <div class="imagem-oficina" id="card2"></div>
              <div class="nome-oficina">
                <p>esporte</p>
              </div>
            </div>
            <div class="card">
              <div class="imagem-oficina" id="card3"></div>
              <div class="nome-oficina">
                <p>tecnologia</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      

    <section id="localizacao" class="fade-in-up">
      <div id="titulo">
        <div class="linha-titulo"></div>
        <h2>Localização</h2>
        <div class="linha-titulo"></div>
      </div>

      <div id="texto" >
        <p>aqui voce insere por texto a localização do local, como nao temos usamos da UFSJ, e a foto a baixo e locaçização no mapa</p>

        <!--API GOOGLE-->
        <div id="mapa"></div>
      </div>

    </section>
  </main>

  <footer>
    <p>Quilombo Urbano - Movimento Negro de São João del-Rei</p>


  </footer>
  
  <script>

// Defina uma matriz com as URLs das imagens de fundo do carrossel
var backgroundImages = [
  "url({% static 'img/capo.png' %})",
  "url({% static 'img/imagemPrincipal.jpg' %})"
];

// Defina o intervalo de tempo para a transição das imagens (em milissegundos)
var intervalo = 10000;

// Obtenha a referência do elemento carrossel
var carrossel = document.querySelector("main > #carrossel");

// Variável para rastrear o índice da imagem atual
var indiceImagem = 0;

// Função para trocar a imagem de fundo do carrossel
function trocarImagem() {
  carrossel.style.backgroundImage = backgroundImages[indiceImagem];
  indiceImagem = (indiceImagem + 1) % backgroundImages.length;
}

// Defina a imagem de fundo inicial
trocarImagem();

// Inicie a troca automática de imagens usando setInterval
setInterval(trocarImagem, intervalo);



   document.addEventListener("DOMContentLoaded", function(event) {
    var elements = document.querySelectorAll(".fade-in-up");

    function fadeInUp() {
        for (var i = 0; i < elements.length; i++) {
        var element = elements[i];
        var rect = element.getBoundingClientRect();
        var isVisible = rect.top < window.innerHeight && rect.bottom >= 0;

        if (isVisible) {
            element.classList.add("fade-in");
            element.classList.remove("fade-out");
        } else {
            element.classList.add("fade-out");
            element.classList.remove("fade-in");
        }
        }
    }

    window.addEventListener("scroll", fadeInUp);
    fadeInUp();
    });

    // Espera até que todo o conteúdo seja carregado, incluindo imagens e outros recursos externos
    window.addEventListener("load", function () {
      // Obtém a altura do cabeçalho
      const headerHeight = document.querySelector("header").offsetHeight;
  
      // Obtém as referências dos botões
      const sobreNosBtn = document.querySelector('a[href="#sobre-nos"]');
      const oficinasBtn = document.querySelector('a[href="#oficinas"]');
      const localizacaoBtn = document.querySelector('a[href="#localizacao"]');
  
      // Funções de rolagem suave para as seções correspondentes
      sobreNosBtn.addEventListener("click", () => {
        const sobreNosSection = document.getElementById("sobre-nos");
        const offset = sobreNosSection.getBoundingClientRect().top;
        window.scrollBy({ top: offset - headerHeight, behavior: "smooth" });
      });
  
      oficinasBtn.addEventListener("click", () => {
        const oficinasSection = document.getElementById("oficinas");
        const offset = oficinasSection.getBoundingClientRect().top;
        window.scrollBy({ top: offset - headerHeight, behavior: "smooth" });
      });
  
      localizacaoBtn.addEventListener("click", () => {
        const localizacaoSection = document.getElementById("localizacao");
        const offset = localizacaoSection.getBoundingClientRect().top;
        window.scrollBy({ top: offset - headerHeight, behavior: "smooth" });
      });
    });
  </script>
  
  
</body>
</html>
