@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --header-background-color: #141d14;
    --header-elements-color: rgb(255, 255, 255);
    --header-button-color: #ffa216;
    --carousel-background-color: #F9C29A;
    --carousel-title-background-color: rgba(255, 255, 255, 0.5);
    --title-color: #5a6072;
    --title-lines-color: #01081f;
    --card-color: rgb(255, 255, 255);
    --cards-container-color: #a7c09c1e;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(226, 235, 245, 0.904);
}

header {


    height: 8vh;
    width: 100%;

    display: flex;
    justify-content: space-around;

    background-color: var(--header-background-color);

    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 26, 8, 0.278);
}

header a {
    text-decoration: none;
    color: var(--header-elements-color);
    margin: 0 25px;
}

#header-esquerdo #hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    
    width: 35px;
    height: 40px;
    
    margin-left: 10px;
}

#hamburger > .linha{
    width: 35px;
    height: 3px;
    margin-top: 6px;

    background-color: var(--header-elements-color);
}

#header-esquerdo, #header-direito {
    display: flex;
    align-items: center;
}

#header-esquerdo > img {
    height: 55px;
    margin-right: 10px;
}

#header-direito > input {
    background-color: var(--header-button-color);
    margin-right: 35px;

    height: 35px;
    min-width: 100px;
    max-width: 150px;

    border: none;
    border-radius: 5px;
}

#header-direito > img {
    display: none;

    margin-right: 30px;
}

aside {
    position: fixed;
    top: 0;
    right: -20rem;

    transition: all 0.8s;
}

nav {
    position: absolute;
    
    height: 100vh;
    background-color: var(--header-background-color);
    z-index: 5;
}

nav > ul {
    list-style-type: none;
}

nav > ul > div {
    width: 100%;
    height: 70px;


    padding: 20px;
}

nav li {
    color: var(--header-elements-color);

    font-size: 120%;

}

.show-menu #hamburger {
    right: 16rem;
}



main > #carrossel img{
    width: 100%;
    height: 390px;
    flex-shrink: 0;
    height: auto;
}

#galeria, #localizacao{
    margin: 30px 0;

    width: 100%;
}

#titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#titulo > h2 {
    margin: 0 5%;
    margin-top: 10%;
    font-size: 300%;
    color: var(--title-color);
}

.linha-titulo{

    width: 30%;
    height: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 0.1;
    background-color: var(--title-lines-color);
}

#texto {
    width: 93vw;

    margin: 50px 5%;

    font-size: 150%;
}

#galeria > #texto .imagem-circulo {
    border-radius: 50%;

    background-color: var(--title-color);

    width: 150px;
    aspect-ratio: 1/1;
    box-shadow: 3px 3px 3px rgba(2, 97, 30, 0.278);
}


#galeria > #texto #imagem1, #sobre-nos > #texto #imagem2 {
    flex-shrink: 0;
}

#galeria > #texto > .paragrafo-com-imagem {
    display: flex;
    align-items: center;
}

#galeria > #texto p {
    margin: 30px 0;
}


#localizacao > #texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#localizacao #mapa {
    background-color: var(--title-color);
    box-shadow: 10px 10px 10px rgba(1, 17, 48, 0.278);
    width: 80%;
    aspect-ratio: 2/1;
    background-size: cover;
    margin: 40px;
}

#localizacao #mapa #imagens {
    
    width: 100%;
    height: 100%;
    background-size: cover;

}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    #header-esquerdo {
        justify-self: center;
    }

    #header-esquerdo > img {
        margin-left: 20px;
    }

    #header-esquerdo #hamburger {
        display: flex;
    }

    #header-direito > img {
        display: block;
    }

    #header-esquerdo > a, #header-direito > a, #header-direito > input {
        display: none;
    }

}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  

@media screen and (max-width: 650px) {
    main > #carrossel {
        height: 40vh;
    }

    
}